@import 'styles/variables';

.trainer {
  &__text {
    background-color: $grey-lighten-4;
    border: 2px solid $border-color;
    padding: 0.5rem;
    text-align: left;
  }

  &__char {
    &--correct {
      background-color: $color-success;
    }

    &--incorrect {
      background-color: $color-danger;
    }
  }

  &__input-field {
    min-height: 100px;
    max-height: 400px;
  }
}
