$blue-grey-darken-3: #37474f;
$grey-lighten-4: #f5f5f5;
$light-green-accent-2: #b2ff59;
$red-accent-2: #ff5252;
$teal-lighten-3: #80cbc4;
$teal: #009688;
$yellow-accent-2: #ffff00;

// Theme colors

$border-color: $blue-grey-darken-3;
$color-danger: $red-accent-2;
$color-success: $light-green-accent-2;
