@import 'styles/variables';

.app {
  height: 100%;
  padding: 1rem;

  &__tabs {
    width: 800px;

    button {
      width: 50%;

      &:first-child {
        border-right-width: 1px;
      }

      &:last-child {
        border-left-width: 1px;
      }
    }
  }
}
